:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header{
    background-color: darkcyan;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div{
    flex: 1;
    display: flex;

    nav {
      background-color: chartreuse;
      width: 20%;
      padding: 20px;
    }

    main {
      width: 80%;
      padding: 20px;
    }
  }

  footer {
    height: 30px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
